body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

 /* Barra Lateral */
 aside.sidebar {
    width: 80px;
    background-color: #343a40;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    position: relative; /* Para permitir posicionamento absoluto */
}

aside.sidebar .menu-icon img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

aside.sidebar .settings-icon {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    bottom: 20px; /* Posiciona 20px acima do final da barra */
}

/* Conteúdo Principal */
.main-content {
    flex: 1;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    overflow-y: auto;
}

.register-container {
    max-width: 800px;
    margin: 0 auto;
}

.register-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-box h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.register-box p {
    color: #666;
    margin-bottom: 30px;
}

.register-form div {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-form div p {
    margin: 0;
    font-size: 1rem;
}

.register-form input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 70%;
    margin-right: 10px;
}

.register-form input:focus {
    border-color: #007bff;
    outline: none;
}

.register-form button {
    padding: 10px 15px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-form button:hover {
    background-color: #0056b3;
}

.edit-input {
    display: none;
    width: 70%;
}

.register-form .edit-btn {
    background-color: #28a745;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.register-form .edit-btn:hover {
    background-color: #218838;
}
/* Estilos para as mensagens de sucesso e erro */
.messages {
    margin-bottom: 20px;
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
