{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta</title>
    <link rel="icon" href="{% static 'images/icon-2.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/register-styles.css' %}">
</head> 
<body>
    <div class="register-container">
        <div class="register-box">
            <h1>Crie sua Conta</h1>
            <p>Preencha as informações abaixo</p>
            <form action="{% url 'registro' %}" method="post" class="register-form">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Nome Completo" required>
                <input type="email" name="email" placeholder="E-mail" required>
                <input type="text" name="cpf" placeholder="CPF" required maxlength="11">
                <input type="text" name="celular" placeholder="Celular" required maxlength="11">
                <input type="password" name="password1" placeholder="Senha" required> <!-- Altere para password1 -->
                <input type="password" name="password2" placeholder="Confirme sua Senha" required> <!-- Altere para password2 -->
                <button type="submit">Cadastrar</button>
            </form>
            <div class="extra-options">
                <a href="{% url 'login' %}">Já tem uma conta? Faça login</a>
            </div>
        </div>
    </div>
</body>
</html>