{% extends "easypays/base.html" %}

{% block content %}
    <p>Tópico: {{ topic }}</p>

    <p>Anotações: </p>

    <p>
        <a href="{% url 'new_entry' topic.id %}">Adicione uma nova anotação</a>
    </p>
    <ul>
        {% for entry in entries %}
        <li>
            <p>{{ entry.date_added}}</p>
            <p>{{ entry.text | linebreaks}}</p>
            <p><a href="{% url 'edit_entry' entry.id%}">Editar Anotação</a></p>
        </li>
        {% empty %}
            <li>
                <p>Nenhum comentário adicionado a este tópico.</p>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}